$mint: #07fdd8;
$red: #ca1942;
$background: #1d1d1d;

.container {
    height: 100vh;
    background-color: $background;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 600px;
    }

    li:hover {    
        color: $red;
        cursor: pointer;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex: 1 1 auto;    

    a:visited {
        color: white;
    }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon {
    font-size: 35px;
    padding: 10px;
    margin: 0;
}

.button {
    margin-bottom: 25px;
    flex: 0 1 auto;
    background-color: $background;
    color: $mint;
    text-align: center;
    text-decoration: none;
    border: 1px solid $mint;
    border-radius: 6px;
    font-size: 18px;
    width: 75px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: $mint;
    color: $background;
}

.button:active {
    background-color: $background;
    color: $mint;
}