$mint: #07fdd8;
$card: #252525;
$background: #1d1d1d;
$red: #FD2155;
$navBackground: #171717;

.container {
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
// 769px — 1024px: Small screens, laptops
@media (max-width: 1024px) {
    .content {
        border: 1px solid yellowgreen;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
// 320px — 480px: Mobile devices
@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding-top: 60px;
    }
}