.icon {
    width: 40px;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: white;
}


@media (min-width: 1201px) {
    .iconContainer {
       max-width: 25%;
    }
}

@media (max-width: 1200px) {
    .iconContainer {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .iconContainer {
        width: 80px;
        padding: 30px 10px 30px 10px;
    }
}

@media (max-width: 768px) {
    .iconContainer {
        width: 50px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        border: 1px solid magenta;
    }
}